html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}

a {
  text-decoration: none;
}

/* Refactor this */
.book-top {
  position: relative;
  align-self: flex-start;
  height: 200px;
  width: 140px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

/* Page transitions 
 *
 * I find it easier to keep these in one place 
 * TODO: Bad practice?
 */

.page-enter,
.page-exit {
  position: absolute; /* Prevent jumping on transition */
  top: 0;
  width: 100vw;
}

.page-enter {
  opacity: 0.3; /* Every page fades in */
}

.list-books.page-enter.page-enter-active,
.search-books.page-enter.page-enter-active,
.book-details.page-enter.page-enter-active {
  transform: none; /* And has a custom transform animation  */
  opacity: 1;
  transition: transform 200ms cubic-bezier(0.85, 0.1, 0.15, 0.9),
    opacity 200ms ease-out;
}

.page-exit.page-exit-active {
  opacity: 0;
  transition: transform 200ms cubic-bezier(0.85, 0.1, 0.15, 0.9),
    opacity 200ms ease-in;
}

/* Start page */
.list-books.page-enter,
.list-books.page-exit.page-exit-active {
  transform: translateX(-100vw); /* Slide in-out from the left */
}

/* Search page */
.search-books.page-enter,
.search-books.page-exit.page-exit-active {
  transform: translateX(100vw); /* Slide in-out from the right */
}

/* Details page */
.book-details.page-enter {
  transform: translateY(-5vh); /* Enter from above */
  opacity: 0;
}
.book-details.page-exit.page-exit-active {
  transform: translateY(20vh); /* Exit to the bottom */
}

.book-details.page-enter.page-enter-active {
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}

.book-details.page-exit.page-exit-active {
  transition: transform 200ms ease-in, opacity 200ms ease-in;
}
